In [1]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

print("Rows:", df.shape[0])
print("Columns:", df.columns.tolist())

Rows: 10000
Columns: ['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount', 'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y', 'cuisine', 'rating']

In [2]:
gold_city_revenue = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print("Q1 - Gold Revenue by City")
print(gold_city_revenue)

Q1 - Gold Revenue by City
city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [3]:
avg_order_cuisine = (
    df.groupby("cuisine")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(avg_order_cuisine)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [4]:
user_totals = (
    df.groupby("user_id")["total_amount"]
    .sum()
)

count = (user_totals > 1000).sum()
print("Users with >1000 total orders:", count)

Users with >1000 total orders: 2544

In [9]:
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ["3.0-3.5", "3.6-4.0", "4.1-4.5", "4.6-5.0"]

df["rating_range"] = pd.cut(df["rating"], bins=bins, labels=labels, include_lowest=True)

rating_revenue = (
    df.groupby("rating_range")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(rating_revenue)

rating_range
4.6-5.0    2197030.75
3.0-3.5    2136772.70
4.1-4.5    1960326.26
3.6-4.0    1717494.41
Name: total_amount, dtype: float64

In [9]:
restaurant_count = df.groupby("cuisine")["restaurant_id"].nunique()
revenue_by_cuisine = df.groupby("cuisine")["total_amount"].sum()

summary = pd.DataFrame({
    "restaurant_count": restaurant_count,
    "total_revenue": revenue_by_cuisine
}).sort_values(["restaurant_count", "total_revenue"], ascending=[True, False])

print(summary)

         restaurant_count  total_revenue
cuisine
Chinese               120     1930504.65
Italian               126     2024203.80
Indian                126     1971412.58
Mexican               128     2085503.09

In [6]:
gold_avg_city = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(gold_avg_city)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [11]:
restaurant_count = df.groupby("cuisine")["restaurant_id"].nunique()
revenue_by_cuisine = df.groupby("cuisine")["total_amount"].sum()

summary = pd.DataFrame({
    "restaurant_count": restaurant_count,
    "total_revenue": revenue_by_cuisine
}).sort_values(["restaurant_count", "total_revenue"], ascending=[True, False])

print(summary)

         restaurant_count  total_revenue
cuisine
Chinese               120     1930504.65
Italian               126     2024203.80
Indian                126     1971412.58
Mexican               128     2085503.09

In [14]:
percent_gold = round((len(df[df["membership"] == "Gold"]) / len(df)) * 100)

print(" - % Orders from Gold Members:", percent_gold, "%")

 - % Orders from Gold Members: 50 %

In [15]:
restaurant_stats = (
    df.groupby("restaurant_name_x")
      .agg(
          total_orders=("order_id", "count"),
          avg_order_value=("total_amount", "mean")
      )
)

filtered = restaurant_stats[restaurant_stats["total_orders"] < 20]

filtered.sort_values("avg_order_value", ascending=False).head()

                                   total_orders  avg_order_value
restaurant_name_x
Hotel Dhaba Multicuisine                     13      1040.222308
Sri Mess Punjabi                             12      1029.180833
Ruchi Biryani Punjabi                        16      1002.140625
Sri Delights Pure Veg                        18       989.467222
Classic Kitchen Family Restaurant            19       973.167895

In [18]:
combo_revenue = (
    df.groupby(["membership", "cuisine"])["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print("- Membership + Cuisine Revenue")
print(combo_revenue)

- Membership + Cuisine Revenue
membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [21]:
df["order_date"] = pd.to_datetime(
    df["order_date"],
    format="%d-%m-%Y",
    errors="coerce"
)

df["quarter"] = df["order_date"].dt.to_period("Q")

quarter_revenue = (
    df.groupby("quarter")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(quarter_revenue)

quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

In [22]:
print("\nTotal Gold Orders:", len(df[df["membership"] == "Gold"]))

Total Gold Orders: 4987

In [23]:
hyd_revenue = round(df[df["city"] == "Hyderabad"]["total_amount"].sum())
print("Total Revenue Hyderabad:", hyd_revenue)

Total Revenue Hyderabad: 1889367

In [24]:
print("Distinct Users:", df["user_id"].nunique())

Distinct Users: 2883

In [25]:
avg_gold = round(df[df["membership"] == "Gold"]["total_amount"].mean(), 2)
print("Avg Order Value Gold:", avg_gold)

Avg Order Value Gold: 797.15

In [26]:
print("Orders with rating >= 4.5:", len(df[df["rating"] >= 4.5]))

Orders with rating >= 4.5: 3374

In [8]:
top_city = gold_city_revenue.index[0]

count_orders = len(
    df[
        (df["membership"] == "Gold") &
        (df["city"] == top_city)
    ]
)

print("Orders in top gold city:", count_orders)

Orders in top gold city: 1337