In [1]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

print("Rows:", df.shape[0])
print("Columns:", df.columns.tolist())

Rows: 10000
Columns: ['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount', 'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y', 'cuisine', 'rating']

In [14]:
gold_city_revenue = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print("- Gold Revenue by City")
print(gold_city_revenue)

- Gold Revenue by City
city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [3]:
avg_order_cuisine = (
    df.groupby("cuisine")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(avg_order_cuisine)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [4]:
user_totals = (
    df.groupby("user_id")["total_amount"]
    .sum()
)

count = (user_totals > 1000).sum()
print("Users with >1000 total orders:", count)

Users with >1000 total orders: 2544

In [9]:
restaurant_count = df.groupby("cuisine")["restaurant_id"].nunique()
revenue_by_cuisine = df.groupby("cuisine")["total_amount"].sum()

summary = pd.DataFrame({
    "restaurant_count": restaurant_count,
    "total_revenue": revenue_by_cuisine
}).sort_values(["restaurant_count", "total_revenue"], ascending=[True, False])

print(summary)

         restaurant_count  total_revenue
cuisine
Chinese               120     1930504.65
Italian               126     2024203.80
Indian                126     1971412.58
Mexican               128     2085503.09

In [7]:
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ["3.0-3.5", "3.6-4.0", "4.1-4.5", "4.6-5.0"]

df["rating_range"] = pd.cut(df["rating"], bins=bins, labels=labels, include_lowest=True)

rating_revenue = (
    df.groupby("rating_range")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(rating_revenue)

rating_range
4.6-5.0    2197030.75
3.0-3.5    2136772.70
4.1-4.5    1960326.26
3.6-4.0    1717494.41
Name: total_amount, dtype: float64

C:\Users\hp\AppData\Local\Temp\ipykernel_6220\530941035.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("rating_range")["total_amount"]

In [6]:
gold_avg_city = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(gold_avg_city)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [11]:
restaurant_count = df.groupby("cuisine")["restaurant_id"].nunique()
revenue_by_cuisine = df.groupby("cuisine")["total_amount"].sum()

summary = pd.DataFrame({
    "restaurant_count": restaurant_count,
    "total_revenue": revenue_by_cuisine
}).sort_values(["restaurant_count", "total_revenue"], ascending=[True, False])

print(summary)

         restaurant_count  total_revenue
cuisine
Chinese               120     1930504.65
Italian               126     2024203.80
Indian                126     1971412.58
Mexican               128     2085503.09

In [14]:
percent_gold = round((len(df[df["membership"] == "Gold"]) / len(df)) * 100)

print(" - % Orders from Gold Members:", percent_gold, "%")

 - % Orders from Gold Members: 50 %

In [21]:
# MCQ options
options = [
    "Grand Cafe Punjabi",
    "Grand Restaurant South Indian",
    "Ruchi Mess Multicuisine",
    "Ruchi Foods Chinese"
]

# Compute stats for all restaurants
restaurant_stats = (
    df.groupby("restaurant_name_x")
    .agg(
        order_count=("total_amount", "count"),
        avg_order=("total_amount", "mean")
    )
    .reset_index()
)

# Filter to <20 orders
filtered = restaurant_stats[restaurant_stats["order_count"] < 20]

# Check only MCQ options
mcq_check = filtered[filtered["restaurant_name_x"].isin(options)]

print("MCQ Restaurant Comparison (<20 orders):")
print(mcq_check.sort_values("avg_order", ascending=False))

MCQ Restaurant Comparison (<20 orders):
       restaurant_name_x  order_count   avg_order
254  Ruchi Foods Chinese           19  686.603158

In [ ]:
combo_revenue = (
    df.groupby(["membership", "cuisine"])["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print("- Membership + Cuisine Revenue")
print(combo_revenue)

- Membership + Cuisine Revenue
membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [21]:
df["order_date"] = pd.to_datetime(
    df["order_date"],
    format="%d-%m-%Y",
    errors="coerce"
)

df["quarter"] = df["order_date"].dt.to_period("Q")

quarter_revenue = (
    df.groupby("quarter")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(quarter_revenue)

quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

In [22]:
print("\nTotal Gold Orders:", len(df[df["membership"] == "Gold"]))

Total Gold Orders: 4987

In [23]:
hyd_revenue = round(df[df["city"] == "Hyderabad"]["total_amount"].sum())
print("Total Revenue Hyderabad:", hyd_revenue)

Total Revenue Hyderabad: 1889367

In [24]:
print("Distinct Users:", df["user_id"].nunique())

Distinct Users: 2883

In [25]:
avg_gold = round(df[df["membership"] == "Gold"]["total_amount"].mean(), 2)
print("Avg Order Value Gold:", avg_gold)

Avg Order Value Gold: 797.15

In [26]:
print("Orders with rating >= 4.5:", len(df[df["rating"] >= 4.5]))

Orders with rating >= 4.5: 3374

In [6]:
top_city = gold_city_revenue.index[0]

count_orders = len(
    df[
        (df["membership"] == "Gold") &
        (df["city"] == top_city)
    ]
)

print("Orders in top gold city:", count_orders)

Orders in top gold city: 1337

In [22]:
import pandas as pd

# Load dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

print("===== FILL IN THE BLANKS — AUTO ANSWERS =====\n")

# 1. Join column between orders.csv and users.json
print("1. Join column (orders + users): user_id")

# 2. Format storing cuisine and rating info
print("2. Cuisine & rating dataset format: SQL (restaurants.sql)")

# 3. Total number of rows in final dataset
print("3. Total rows in final merged dataset:", df.shape[0])

# 4. Value when no matching user exists (null check example)
null_example = df.isna().sum().sum()
print("4. Missing values representation: NaN (Null values found:", null_example, ")")

# 5. Pandas function used to merge
print("5. Pandas merge function: merge()")

# 6. Source file for membership column
print("6. Membership column source: users.json")

# 7. Join key for orders + restaurants
print("7. Orders + Restaurants join key: restaurant_id")

# 8. Column that identifies food type
if "cuisine" in df.columns:
    print("8. Food type column: cuisine")
else:
    print("8. Food type column: NOT FOUND")

# 9. User detail repetition logic
sample_user = df["user_id"].value_counts().idxmax()
repeat_count = df["user_id"].value_counts().max()

print(f"9. Sample user '{sample_user}' appears {repeat_count} times → personal details appear MULTIPLE TIMES")

===== FILL IN THE BLANKS — AUTO ANSWERS =====

1. Join column (orders + users): user_id
2. Cuisine & rating dataset format: SQL (restaurants.sql)
3. Total rows in final merged dataset: 10000
4. Missing values representation: NaN (Null values found: 0 )
5. Pandas merge function: merge()
6. Membership column source: users.json
7. Orders + Restaurants join key: restaurant_id
8. Food type column: cuisine
9. Sample user '2973' appears 13 times → personal details appear MULTIPLE TIMES