In [1]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in d:\python\lib\site-packages (2.2.3)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.46-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: numpy>=1.23.2 in d:\python\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\python\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\python\lib\site-packages (from pandas) (2025.2)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.1-cp311-cp311-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\python\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading sqlalchemy-2.0.46-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 882.6 kB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 882.6 kB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 882.6 kB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 599.2 kB/s eta 0:00:03
   ------------------- -------------------- 1.0/2.1 MB 629.1 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 629.1 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 632.8 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 632.8 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 687.3 kB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 687.3 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 684.7 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 732.4 kB/s  0:00:02
Downloading greenlet-3.3.1-cp311-cp311-win_amd64.whl (226 kB)
Installing collected packages: greenlet, sqlalchemy

   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.3.1 sqlalchemy-2.0.46
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd
import sqlite3

In [12]:
pd.set_option('display.max_columns', None)
print("Libraries imported successfully!")

Libraries imported successfully!

In [13]:

df_orders = pd.read_csv('orders.csv')
df_users = pd.read_json('users.json')

In [14]:
print(f"Orders loaded: {df_orders.shape[0]} rows")
print(f"Users loaded: {df_users.shape[0]} rows")

Orders loaded: 10000 rows
Users loaded: 3000 rows

In [15]:

conn = sqlite3.connect(':memory:')
with open('restaurants.sql', 'r') as file:
    sql_script = file.read()
conn.executescript(sql_script)
df_restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)

In [16]:
print(f"Restaurants loaded: {df_restaurants.shape[0]} rows")

Restaurants loaded: 500 rows

In [17]:
df_merged = pd.merge(df_orders, df_users, on='user_id', how='left')
final_df = pd.merge(df_merged, df_restaurants, on='restaurant_id', how='left')

In [18]:
print("Merge complete! First 5 rows:")
display(final_df.head())

Merge complete! First 5 rows:

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [19]:
final_df.to_csv('final_food_delivery_dataset.csv', index=False)
print("\nSuccess! 'final_food_delivery_dataset.csv' has been saved in your folder.")

Success! 'final_food_delivery_dataset.csv' has been saved in your folder.